# -----------------------------
# Core ML and Data Libraries
# -----------------------------
pandas
numpy
scikit-learn
matplotlib
seaborn
xgboost
joblib

# -----------------------------
# API and Web Framework
# -----------------------------
fastapi
uvicorn

# -----------------------------
# Development Tools
# -----------------------------
jupyter